<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Alumnos</title>
    <style>
       
    </style>
</head>

<body>

    <div id="panelAlumnos">
        <h1>Panel de Alumnos</h1>
        <p>Alumno: Facundo Murua</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Dni</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of studentsList">
                <td>{{ student.id }}</td>
                <td>{{ student.dni }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.email }}</td>
                <td><button class="btn delete" (click)="delete(student.id)">Borrar</button></td>
                <td><button class="btn modify" (click)="modify(ver, student)">Modificar</button></td>
            </tr>
        </tbody>
    </table>

    <form [formGroup]="studentForm">
        <input placeholder="Dni" formControlName="dni" />
        <p *ngIf="dni?.touched && dni?.errors?.required">Campo obligatorio</p>
        <input placeholder="Apellido" formControlName="lastName" />
        <p *ngIf="lastName?.touched && lastName?.errors?.required">Campo obligatorio</p>
        <input placeholder="Nombre" formControlName="firstName" />
        <p *ngIf="firstName?.touched && firstName?.errors?.required">Campo obligatorio</p>
        <input placeholder="Correo" formControlName="email" />
        <p *ngIf="email?.touched && email?.errors?.required">Campo obligatorio</p>
        <button (click)="saveStudent()">Guardar alumno</button>
    </form>

    <ng-template #ver let-modal>
        <div class="modal-header"></div>

        <div class="modal-body">
            <label>ID2</label>
            <input class="form-control" [(ngModel)]="id2" readonly />
            <label for="">DNI</label>
            <input class="form-control" [(ngModel)]="document2" ngbautofocus />
            <label>Nombre</label>
            <input class="form-control" [(ngModel)]="name2" />
            <label>Apellido</label>
            <input class="form-control" [(ngModel)]="lastName2" />
            <label>Email</label>
            <input class="form-control" [(ngModel)]="email2" />
            

        </div>
       

        <div class="modal-footer">
            <button class="btn btn-primary" (click)="modal.close()">Guardar</button>
        </div>
    </ng-template>
   
</body>

</html>


  






